<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Dormitories</title>
</head>
<body>
<div class="container">
    <table class="table table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th>ID</th>
            <th>Name</th>

        </tr>
        </thead>
        <tr th:each="dormitory, stat : ${dormitories}"
            th:class="${stat.odd}? 'table-light':'table-dark'"
        >
            <td th:text="${dormitory.id}">1</td>
            <td th:text="${dormitory.name}">Name </td>
            <td><a href="#" th:href="@{'/dormitory/info/' + ${dormitory.id}}">Details</a></td>

        </tr>
    </table>
    <form class="button" th:action="@{/dormitory/new}" method="POST">
        <input type="submit" value="ADD DORMITORY"/>
    </form>
</div>
</body>
</html>