<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Professors</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.5.0/css/bootstrap.min.css" />
    <script src="/webjars/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <table class="table table-hover ">
        <thead class="thead-inverse">
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th> Department</th>

        </tr>
        </thead>
        <tr th:each="professor, stat : ${professors}"
            th:class="${stat.odd}? 'table-light':'table-dark'"
        >
            <td th:text="${professor.id}">1</td>
            <td th:text="${professor.email}">Email </td>
            <td th:text="${professor.lastName}">Last Name</td>
            <td th:text="${professor.firstName}">First Name</td>
            <td th:text="${professor.getProfessorDep().getName()}">Department</td>

            <td><a href="#" th:href="@{'/professor/info/' + ${professor.id}}">Info</a></td>
            <td><a href="#" th:href="@{'/professor/delete/' + ${professor.id}}">Delete</a></td>
        </tr>
    </table>
    <form class="button" th:action="@{/professor/new}" method="POST">
        <input type="submit" value="ADD PROFESSOR"/>
</div>
</body>
</html>