<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Students </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css"
          integrity="sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH"
          crossorigin="anonymous">
		  
		  
<style>
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
 width:100%;
}
</style>
		  
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">University</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item ">
                               <a class="nav-link" href="/departments/list">Departments </a>

            </li>
            <li class="nav-item">
                <a class="nav-link" href="/courses/list">Courses</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dormitories/list">Dormitories</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/professors/list">Professors</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/students/list">Students</a>
            </li>

        </ul>

    </div>
</nav>


<div class="container">
    <img src="D:\project1_AWBD\src\main\resources\pictures\studenti.png" class="center" alt="Universitate">

    <table class="table table-hover ">
        <thead class="thead-inverse">
        <tr >
            <th>ID</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th> Dormitory</th>
            <th> Department</th>

        </tr>
        </thead>
        <tr  th:each="student, stat : ${students}"
            th:class="${stat.odd}? 'table-light':'table-dark'"
        >
            <td th:text="${student.id}">1</td>
            <td th:text="${student.email}">Email </td>
            <td th:text="${student.lastName}">Last Name</td>
            <td th:text="${student.firstName}">First Name</td>
            <td th:text="${student.getStudDormitory().getName()}">Dormitory</td>
            <td th:text="${student.getStudentDep().getName()}">Department</td>

            <td><a href="#" th:href="@{'/student/info/' + ${student.id}}">Info</a></td>
            <td><a href="#" th:href="@{'/student/delete/' + ${student.id}}">Delete</a></td>
        </tr>
    </table>
    <form class="button" th:action="@{/student/new}" method="POST">
        <input type="submit" class="btn btn-primary" value="ADD STUDENT"/>
    </form>

    <br><br>
    <div class="col-md-3"><form th:action="@{/logout}" method="POST"> <input type="submit" class="btn btn-primary" value="Logout"> </form></div>
</div>
</body>
</html>